<div #falconsMainContainer class="u-pb-3">
    <div class="container u-of-hidden" >
        <div #falcons>
            <fc-planet (returnPlanetEmit)="changeOutputPlanet($event)"></fc-planet>
        </div>
    </div>
    <div>
        <input type="button" (click)="findResult()" value="Find Results" [ngClass]="{'u-visibilit-none': !(currentStep > maximumNumberOfSteps)}"/>
        <div [ngClass]="{'u-visibilit-none': !(currentStep > maximumNumberOfSteps + 1)}">
        <div>{{returnedResult}}</div>
        <div>{{returnedPlanet}}</div>
        </div>
    </div>
</div>








